.detail-cart-container {
    font-family: 'Monserat', 'Helvetica Neue', sans-serif;
    position: relative;
    display: flex;   
    background-color: #fbfbfb;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;      
}

.detail-cart-img {
    display: flex;
    padding: 0.3rem 0.3rem;
    align-items: center;
    justify-content: center;    
}

  spam img {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }

.detail-cart-title {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 18px;
    width: 200px;
    align-content: center;
    display: grid;
    justify-items: stretch;
}

  .cart-text-titles {
  margin: 0px;
  font-size: 11px;
  }

  .cart-text-content {
  margin: 1px;
  padding: 10px 1px;
  }
  
  
.detail-cart-price {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 16px;
    width: 100px;
    align-content: center;
    display: grid;
    justify-items: stretch;   
}

.detail-cart-total-price {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  align-content: center;
  display: grid;
  justify-items: stretch; 
}

.detail-cart-count {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 16px;
  width: 350px;
  align-content: center;
  display: grid;
  justify-items: stretch; 
}

.detail-cart-btn-delete-item{
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 12px;
  width: 20px;
  align-content: center;
  display: grid;
  justify-items: center;
}

.btn-delete-item{
  color: #323232;
  background-color: #E3E0E0;
  border-color: #E3E0E0;
  font-family: 'Monserat', 'Helvetica Neue', sans-serif;
  display: inline-block;
  margin-left: 0;   
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.6rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-delete-item:hover {
  color: #fff;
  background-color: rgb(209, 12, 12);
  border-color: rgb(209, 12, 12);
}

.cart-total-price {
  margin-bottom: 0.5rem;
  padding-right: 60px;  
  font-size: 26px;
  font-weight: normal;  
  text-align: right;  
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
}
  
.cart-total-price h5 {
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.cart-btn-container{
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 15px;
}

.delete-cart-btn {
  color: #323232;
  background-color: #E3E0E0;
  border-color: #E3E0E0;
  font-weight: normal;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.delete-cart-btn:hover {
  color: #fff;
  background-color: rgb(209, 12, 12);
  border-color: rgb(209, 12, 12);
}

.add-items-cart-btn{
  color: #323232;
  background-color: #E3E0E0;
  border-color: #E3E0E0;
  font-style: normal;
  display: inline-block;
  margin-right: 25px; 
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-items-cart-btn:hover{
  color: #fff;
  background-color: #088cc5;
  border-color: #088cc5;
}

.cart-form-container {
  font-family: 'Monserat', 'Helvetica Neue', sans-serif;
  position: relative;
  text-align: center;    
  margin-bottom: 1rem;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;    
}

.cart-form-title {
  color: #323232;
}

.cart-form-content label {
  display: flex;
  justify-content: center;
  font-size: 14px;  
  color: grey;
}
 
.cart-form-content input {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  justify-content: center;
  width: 40%;  
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.cart-form-content button {
  color: #323232;
  background-color: #E3E0E0;
  border-color: #E3E0E0;
  font-family: 'Monserat', 'Helvetica Neue', sans-serif;
  margin-left: 0; 
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-form-content button:hover {
   color: #fff;
    background-color: #088cc5;
    border-color: #088cc5;
}

.cart-form-content button:disabled {
  display: none;
}

.cart-form-content p {
  color: rgb(209, 12, 12);
  font-size: 1rem;
  font-weight: normal;
}

.cart-empty {
  height: 800px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cart-empty h2{
  display: flex;
  margin-top: 40px;
}

.cart-empty button{
  color: #323232;
  background-color: #E3E0E0;
  border-color: #E3E0E0;
  font-family: 'Monserat', 'Helvetica Neue', sans-serif;
  margin-left: 0; 
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-empty button:hover{
    color: #fff;
    background-color: #088cc5;
    border-color: #088cc5;
}

.succes-item-order {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fbfbfb;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 10px 25px;
}

.succes-item-order h2{
  margin-top: 40px;
  text-align: center;
}

.succes-item-order h3{
  font-size: 20px;
  color: rgb(4, 156, 243);
}

.succes-item-order h4{
  font-size: 18px;
  width: 500px;  
}

.succes-item-order p{
  margin-top: 20px;
  font-style: italic;
  text-decoration: underline;
}

.succes-item-order button{
  color: #323232;
  background-color: #E3E0E0;
  border-color: #E3E0E0;
  font-family: 'Monserat', 'Helvetica Neue', sans-serif;
  margin: 40px 0 20px 0;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.succes-item-order button:hover{
  color: #fff;
  background-color: #08c57d;
  border-color: #08c57d;
}