.container{    
  margin: 30px;   
}

.item-container {
  font-family: 'Monserat', 'Helvetica Neue', sans-serif;
    position: relative;
    display: flex;   
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fbfbfb;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 287px;
    height: 450px;
    border-radius: 0.25rem;
    margin-bottom: 3rem;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    
  }

.detail-container {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    
}

.item-categoria {
  margin-bottom: 0.5rem;
  font-size: 11px;
  font-weight:bold;
  color: #858585;
   
}

.item-title {
  margin-bottom: 0.5rem;
  font-size: 18px;
   
}


.item-price {
  margin-bottom: 0.5rem;
  font-size: 16px;
 
}

.item-img{
  width: 100%;
}



.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }

