.nav {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgb(3, 19, 49);
    font-size: 1rem;
    font-style: normal;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    padding: 5px;  

}

.imgNavBar {
    margin: 5px;
    display: flex;
    width: 40rem;
    height: 3rem;
    
}

.logo {
    margin-left: 15px;
    width: 6rem;
    height: 3rem;
    }

    li a.active {
        font-weight: bold;
        color: rgb(119, 115, 115);
    }